/stm32_f407/build/
/stm32_f407/firmware/Projects/MDK-ARM/sky_star_protocol_node/
/stm32_f407/firmware/Projects/MDK-ARM/build.log
/stm32_f407/firmware/MXTmpFiles/
*.uvguix.*
*.lst
*.bak
*.tmp
.DS_Store
Thumbs.db

